@charset "utf-8";
#swimbi{
	padding: 20px 0px 0 0px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 9999;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	left: 0px;
}
#swimbi>ul{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAATElEQVQIW52PMQ6AQAgEWSChoCD0/P9n9w7Uk9JCbcgkZBcGRNTIzMamiGi4e0NVG8y87sU5vtPP2NOhV1UA9uMLZjYkIuNWVUOX0QHKUDEzanUHOwAAAABJRU5ErkJggg==');
	padding: 0 3px 0 3px !important;
	border-radius: 0px;
	box-shadow: 0px 9px 12px  -9px rgba(96,96,96,1);
	width: auto;
	list-style: none;
	position: relative;
	white-space: nowrap;
	display: inline-table;
	font-size: 0px;
}
#swimbi ul, #swimbi li, #swimbi a{
	font-family: Arial Black, Gadget, sans-serif !important;
	margin: 0;
	padding: 0;
}
#swimbi>ul>li{
	display: inline-block;

	vertical-align: top;
	font-size: 14px;
	position: relative;
}
#swimbi ul li:hover>ul{
	display: block !important;
	visibility: visible;
	opacity: 1;
	pointer-events:  all; -webkit-transform: translateY(0) scale3d(1,1,1); -ms-transform: translateY(0) scale3d(1,1,1); transform: translateY(0) scale3d(1,1,1); -webkit-transition: all 0.1s ease-out; -ms-transition: all 0.1s ease-out; transition: all 0.1s ease-out;
}
#swimbi>ul>li:hover>a,#swimbi>ul>li.hvr>a{
	color: #ffffff !important;
	border-radius: 0px;
	z-index: 9;
	text-shadow: 0px 1px 1px rgba(96,96,96,1) !important;
}
#swimbi ul li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
}
#swimbi>ul>li>a{
	padding: 0 19px 0 21px;
	line-height: 50px;
	height: 50px;
	color: #ffffff;
	text-shadow: -1px -1px 0px rgba(96,96,96,1);

}
#swimbi>ul>li>a:not(:only-child){
	padding-right: 29px;
}

#swimbi>ul>li>div.ch{
	content: '';
	position: absolute;
	z-index: 992;
	right: 19px;
	top: 50%;
	border: 2px solid #ffffff;
	border-top: none;
	border-left: none;
	margin: -5px 1px;
	width: 5px;
	height: 5px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#swimbi>ul>li:hover>div.ch{
	border: 2px solid #ffffff;
	border-top: none;
	border-left: none;
}

#swimbi ul ul{
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	opacity: 0; -webkit-transform: translateY(-50%) scale3d(1,0,1); -ms-transform: translateY(-50%) scale3d(1,0,1); transform: translateY(-50%) scale3d(1,0,1);
	visibility: hidden;
	display: block;
	pointer-events: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background: #474747;
	width: auto;
	list-style: none;
	min-width: 50px;
	padding: 0px 0px 1px 0px;
	position: absolute;
	z-index: 7;
	margin-top: 0;
	box-shadow: 0px 8px 13px  -7px rgba(96,96,96,1);
	top: 50px;
}
#swimbi ul ul li:not(.column)>ul:before, #swimbi ul li:not(.column)>ul:before{
	content: '';
	display: block;
	background: rgba(99,1,1,0);
	position: absolute;
	z-index: -6;
	width: 100%;
	height: 100%;
	padding: 8px 2px 29px 29px;
	top: -8px;
	left: -29px;
}

#swimbi ul ul li:not(.column)>ul[data-keepv]:before{
	left: 0px;
	padding: 8px 0;
}

#swimbi ul li:not(.column)>ul:before{
	padding: 8px 29px 29px 29px;
}

#swimbi ul ul li:not(.column)>ul:after{
	content: '';
	position: absolute;
	z-index: -5;
	top: 8px;
	left: -49.5px;
	width: 41px;
	height: 41px;
	background: rgba(99,1,1,0);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#swimbi>ul>li:hover:before,#swimbi>ul>li:hover:after{
	content: '';
	position: absolute;
	z-index: 4;
	top: 27.5px;
	left: -35.5px;
	width: 71px;
	height: 71px;
	background: rgba(99,1,1,0);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#swimbi>ul>li:hover:after{
	left: 100%;
	margin-left: -35.5px;
}

#swimbi ul>li:not(.column)>ul{
	border: 1px solid rgba(12,12,12,1);
	background: -webkit-linear-gradient(top, rgba(71,71,71,1), rgba(32,32,32,1));
	background:    -moz-linear-gradient(top, rgba(71,71,71,1), rgba(32,32,32,1));
	background:     -ms-linear-gradient(top, rgba(71,71,71,1), rgba(32,32,32,1));
	background:      -o-linear-gradient(top, rgba(71,71,71,1), rgba(32,32,32,1));
	background:         linear-gradient(top, rgba(71,71,71,1), rgba(32,32,32,1));
}
#swimbi ul ul li:not(:last-child):not(.column){
	border-bottom: 1px solid rgba(25,25,25,1);
	box-shadow: 0 1px 0 rgba(80,80,80,1);
}
#swimbi li.column:not(:last-child)>ul>li:not(.column){
	border-right: 1px solid rgba(29,29,29,1);
	box-shadow: 0 1px 0 rgba(80,80,80,1), 1px 0 0 rgba(75,75,75,1);
}
#swimbi li.column:not(:last-child)>ul>li:last-child{
	box-shadow: 1px 0 0 rgba(75,75,75,1) !important;
}
#swimbi li.column:not(:first-child)>ul{
	margin-left: 2px !important;
}
#swimbi ul ul.columns{
	font-size: 0px;
}

#swimbi ul ul li.column{
	display: inline-block;
	width: auto;
	vertical-align: top;
}

#swimbi ul ul li.column>ul{
	position: relative;
	display: block;
	box-shadow: none;
	background: none;
	left:0;
	padding: 0;
	visibility: visible;
	opacity: 1;
	transform: none;
	-ms-transform: none;
	-webkit-transform: none;
}

#swimbi ul ul li.column>ul:hover{
	z-index: 9;
}

#swimbi ul ul li{
	float: none;
	position: relative;
	width: 100%;
	text-align: left;
}
#swimbi ul ul li a{
	padding-left: 20px;
	padding-right: 33px;
	line-height: 29px;
	height: 29px;
	color: #fefefe !important;
	text-shadow: 0px 0px 1px rgba(18,18,18,0);
}
#swimbi ul ul li>a:not(:only-child):after{
	content: '';
	position: absolute;
	right: 15px;
	top: 50%;
	margin: -3px 5px;
	width: 4px;
	height: 4px;
	border: 2px solid #fefefe;
	border-top: none;
	border-left: none;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#swimbi ul ul li:hover>a:after{
	border: 2px solid #ffffff;
	border-top: none;
	border-left: none;
}

#swimbi ul ul>li>a:only-child{
	padding-right: 20px;
}
#swimbi ul ul>li>a[data-icon], #swimbi ul.mixicon>li>a{
	padding-right: 58px;
}
#swimbi ul ul>li>a[data-icon]:only-child, #swimbi ul.mixicon>li>a:only-child, #swimbi ul li.column>ul.mixicon>li>a:only-child{
	padding-right: 45px;
}
#swimbi ul li.column>ul>li>a:before, #swimbi ul ul>li>a:only-child:before{
	padding-right: 0px;
}
#swimbi ul li.column>ul>li>a[data-icon]:before, #swimbi ul li.column>ul.mixicon>li>a:before{
	padding-right: 8px;
}
#swimbi ul li.column>ul>li>a[data-icon], #swimbi ul li.column>ul.mixicon>li>a{
	padding-right: 33px;
}
#swimbi ul li.column>ul>li>a[data-icon]:only-child{
	padding-right: 20px;
}
#swimbi ul ul li:hover>a{
	color: #ffffff !important;
	text-shadow: 0px 1px 1px rgba(96,96,96,.74);
}
#swimbi canvas{
	position: absolute;
	width: 1px;
	height: 1px;
}
canvas noscript{
	display: none;
}
#swimbi ul ul ul{
	position: absolute;
	z-index: 7;
	left: 99%;
	top: 2px;
}
#swimbi li.column>ul{
	top: 0;
}
#swimbi a:not([href]){
	cursor: default;
}
#swimbi a.B{
	font-weight: bold !important;
}
#swimbi a.I{
	font-style: italic !important;
}
#swimbi a.U{
	text-decoration: underline !important;
}
#ie_message{
	display:none;
}
@media screen and (min-width:0\0){
#ie_message{
	display: block;
	margin-top: 10px;
	background: #ecc;
}
}
@font-face{
font-family:'ifont';
src:url('//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
src:url('//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&amp;v=4.3.0') format('embedded-opentype'),url('https://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}

#swimbi ul>li>a[data-icon]:before, #swimbi>ul>li>a[data-icon]:after, #swimbi ul ul.mixicon>li>a:before{
	color: #ffffff;
	font-family: ifont;
	pointer-events: none;
	line-height: 50px;
	font-size: 17px;
	margin: 0 3px 0 0;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: left;
	content: attr(data-icn);
	visibility: hidden;
}

#swimbi>ul>li>a[data-icon]:after{
	visibility: visible;
	position: absolute;
	z-index: 6;
	top:0;
	left: 21px;
	transition: all .25s ease-out;
	-webkit-transition: all .25s ease-out;
}

#swimbi>ul>li>a[data-icon]:before, #swimbi>ul>li>a[data-icon]:after{
	width: 17px;
}

#swimbi>ul>li>a[data-icon]:before{
	height: 17px;
}

#swimbi>ul>li>a[data-icon].empty:before, #swimbi>ul>li>a[data-icon].empty:after{
	margin: 0 ;
}

#swimbi>ul>li>a[data-icon]:before{
	color: #ffffff;
	visibility:visible;
}

#swimbi>ul>li:hover>a:after, #swimbi>ul>li.hvr>a:after{
	color: #ffffff;
	transform: scale(4) translateX(15%) translateY(-7%);-webkit-transform: scale(4) translateX(15%) translateY(-7%);-ms-transform: scale(4) translateX(15%) translateY(-7%);
	opacity: 0;
	color: #ffffff;
}

@media (max-width: 768px) {
	#swimbi>ul{
		min-width: 300px !important;
		width: 100%;
		height: 50px;
		padding: 0 !important;
	}

	#swimbi ul li{
		float: none;
		display: block;
		position:relative;
	}

	#swimbi>ul>li{
		width: auto !important;
		margin: 0 4px 0 4px;
	}

	#swimbi>ul>li>a,#swimbi>ul:hover:before,#swimbi>ul:hover:after{
		display:none;
	}

	#swimbi>ul:hover>li>a,#swimbi .hvr>li>a{
		display: block !important;
	}

	#swimbi>ul>li:hover{
		z-index: 9 !important;
	}

	#swimbi>ul>li.hvr{
		z-index: 8 !important;
	}

	#swimbi>ul:after {
		line-height: 48px;
		content: 'Menu';
		font-family: Arial Black, Gadget, sans-serif !important;
		font-size: 14px;
		color: #ffffff;
		float:right;
		padding-right: 15px;
	}

	#swimbi>ul:hover:after, #swimbi>ul.hvr:after {
		display: none;
	}

	#swimbi>ul:before {
		float: right;
		line-height: 50px;
		content: '';
		margin: 18px 22px 18.875px 0;
		width: 17px;
		height:2.625px;
		border-top: 7.875px double #ffffff;
		border-bottom: 2.625px solid #ffffff;
		box-sizing: content-box;
	}

	#swimbi>ul:hover:before, #swimbi>ul.hvr:before {
		opacity: 0;
	}

	#swimbi ul ul ul{
		margin-top: 29px;
	}

	#swimbi a[data-show]{
		display: block;
	}

	#swimbi ul ul {
		left: 34px !important;
	}

	#swimbi ul ul li:not(.column)>ul:before, #swimbi ul li:not(.column)>ul:before{
		padding: 8px 2px 2px 2px;
		left: -2px;
	}

	#swimbi ul ul li.column{
		display: block;
	}

	#swimbi ul ul li.column>ul{
		left: 0 !important;
		margin-top: 0;
	}

	#swimbi>ul>li>div.ch, #swimbi>ul>li:hover:before, #swimbi>ul>li:hover:after{
		display: none;
	}
	#swimbi>ul:hover>li>div.ch,#swimbi .hvr>li>div.ch{
		display: block;
	}

}
